<div class="categoryId">
<input type="number" id="input-id">

<button (click)="getId()"> send id! </button>
    <p>{{id}}  -  {{category?.name}}</p>

</div>


<div class="categoryId">
    <input type="text" id="input-search" (input)="search()">
    
        <p>{{params.searchTerm}}</p>
        <ul class="list">
            <li class="categoryTable" *ngFor="let category of categories" >
                <p>id: {{category?.id}}  -  {{category?.name}} </p>
            </li>
        </ul>
</div>




