<tr *ngFor="let provider of providers">
    <td>{{provider.id}}</td>
    <td class="td-name">{{provider.name}}</td>
    <td><img class="list-img" src="assets/img/edit.png" alt=""></td>
    <td><img class="list-img" src="assets/img/delete.png" alt=""></td>
</tr>
<tr *ngFor="let provider of providers">
    <td>{{provider.id}}</td>
    <td class="td-name">{{provider.name}}</td>
    <td><img class="list-img" src="assets/img/edit.png" alt=""></td>
    <td><img class="list-img" src="assets/img/delete.png" alt=""></td>
</tr>