<div *ngIf="isLoad; else loading">
    <table>
        <tr>
            <td class="td-header " (click)="orderBy('id')">Id </td>
            <td class="td-header td-name" (click)="orderBy('name')">Name</td>
            <td>Edit</td>
            <td>Delete</td>
        </tr>
        <tr *ngFor="let provider of providers">
            <td>{{provider.id}}</td>
            <td class="td-name">{{provider.name}}</td>
            <td><img class="list-img" src="assets/img/edit.png" alt="edit" (click)="editItem(provider)"></td>
            <td><img class="list-img" src="assets/img/delete.png" alt="delete" (click)="deleteItem(provider)"></td>
        </tr>
        <tr *ngIf="!authService.isClient()">
            <td class="add-cell" (click)="createMode = true">+</td>
            <td class="td-name "></td>
            <td></td>
            <td></td>
        </tr>
    </table>

    <app-string-form *ngIf="editProvider" [inputValue]="editProvider.name" [placeholder]="'Provider name'"
        (onSubmit)="submitEdit($event)">
    </app-string-form>

    <app-string-form *ngIf="createMode" [placeholder]="'Provider name'" (onSubmit)="addItem($event)">
    </app-string-form>
</div>

<ng-template #loading>
    <app-loading></app-loading>
</ng-template>