.account-panel{
    position:fixed; 
    top: 10vh;
    padding: 20px;
    background-color: var(--light-gray-color);
    border-radius: 20px;
    width: 300px;
    min-height: 545px;
    box-shadow: 1px 1px 5px 1px black inset;
    color:black;
}

.products-panel{
    margin-left: 300px;
    width: 65vw;
}

.account-photo{
    display: block;
    margin: 0 auto;
    width: 200px;
    height: 200px;
    transition: box-shadow 1s;
    transition: transform 1s;
    border-radius: 100%;
}

.account-photo:hover{
    box-shadow: 1px 1px 5px 3px white;
    transform:scale(1.05);
}

.account-control{
    align-items: left;
    margin-top: 5px;
    width: 25%;
}

.account-control li{
    width: max-content;
    transition: margin-left 2s reverse;
    font-size: 25px;
    margin-top: 10px;
    transition: transform .5s;
}

.account-control li:hover{
    transform: scale(1.05);
    cursor: pointer;
}

.account-control li:active{
    transform: scale(0.95);
}

.card-button:active{
    padding: 1px;
}

.card-button:hover{
    cursor: pointer;
}

.account-control button{
    width: 200px;
}

.products-list{
    display: inline-block;
    font-size: 16px;   
}

.product-card{
    background-color: var(--gray-block-color);
    border: solid 1px white;
    color: white;
    width: 175px;
    margin: 0 0 25px 20px;
    padding: 10px;
}

.card-product-img{
    border: solid 1px white;
    width: 155px;
    height: 155px;
}

.card-button{
    float: right;
    height: 15px;
}

.card-button:hover{
    cursor: pointer;
}

.card-button:active{
    padding: 1px;
}