<div class="account-page">
    <div class="account-wrapper">
        <img class="account-photo" src="assets/img/account.png" alt="photo">

        <div class="account-info">
            <ul>
                <li>
                    <p> Firstname: {{accountData.firstName}}</p>
                </li>
                <li>
                    <p> Lastname: {{accountData.lastName}}</p>
                </li>
                <li>
                    <p> Username: {{accountData.username}}</p>
                </li>
                <li>
                    <p> Email: {{accountData.email}}</p>
                </li>
            </ul>
        </div>
    </div>
</div>