.account-page{
    padding: 0 7.5vw;
}

.account-wrapper{
    display: flex;
    border-radius: 20px;
    padding: 3vw;
    background: var(--gray-block-color);
    box-shadow: 3px 3px 5px -3px black inset;
    color: white;
}

.account-photo{
    width: 15vw;
    height: 15vw;
    transition: box-shadow 1s;
    transition: transform 1s;
    border-radius: 100%;
}

.account-photo:hover{
    box-shadow: 1px 1px 10px 3px white;
    transform:scale(1.05);
}

.account-control{
    align-items: left;
    margin-top: 5px;
    width: 25%;
}

.products-list{
    display: inline-block;
    font-size: 14px;   
}

.product-card{
    background-color: var(--gray-block-color);
    border: solid 1px white;
    color: white;
    width: 125px;
    margin: 0 0 25px 20px;
    padding: 10px;
}

.product-card-img{
    width: 105px;
    height: 105px;
}

.card-button{
    width: 15px;
    height: 15px;
}

.card-button:active{
    padding: 1px;
}

.account-control button{
    width: 200px;
}

