.products-page{
    display: flex;
    padding: 0px 25px;
}

.filter-panel{
    padding: 20px;
    background-color: var(--light-gray-input-color);
    color: Black;
    width: 350px;
    min-width: 350px;
    height: 560px;
    min-height: 550px;
    border-radius: 20px;
}

.search-input{
    padding-left: 5px;
    border: none;
    width: 75%;
    height: 28px;
    margin: 6px 0;
    border-radius: 10px 0px 0px 10px;
}

.currency-select{
    margin-top: 10px;
    height: 28px;
    border: none;
    border-radius: 0px 10px 10px 0px;
    color: var(--gray-block-color);
}

.categories-list-item{
    font-size: 25px;
    margin-top: 10px;
}

.categories-list-item:hover{
    cursor: pointer;
    font-size: 26px;
    margin-top: 9px;
}

.products-list{
    font-size: 16px;   
    display: inline-block;
}

.products-panel{
    margin-left: 20px;
    width: 70vw;
}

.product-card{
    background-color: black;
    border: solid 1px white;
    color: white;
    width: 175px;
    height: 255px;
    margin: 4px;
    padding: 10px;
}

.card-product-img{
    border: solid 1px white;
    width: 100%;
}

p{
    display: flex;
    justify-content: space-between;
}

.card-img{
    display: flex;
    justify-content: space-between;
    height: 30px;
    margin-top: -10px;
}

.card-img:hover{
    cursor: pointer;
}

li{
    list-style-type: none;
}

.loading{
    font-size: 30px;
    color:white;
}

.card-buttons{
    margin-top: 7.5px;
    display: flex;
    justify-content: space-between;
}
