.products-page{
    display: flex;
}

.filter-panel{
    position:relative; 
    padding: 20px;
    background-color: var(--light-gray-input-color);
    border-radius: 20px;
    min-width: 300px;
}

.search-input{
    color: white;
    padding-left: 5px;
    border: none;
    height: 28px;
    margin: 6px 0;
    border-radius: 10px 0 0 10px;
}

.min-cost-input{
    padding-left: 5px;
    border: none;
    width: 30%;
    height: 28px;
    margin: 6px 0;
    border-radius: 10px 0 0 10px;
}

.max-cost-input{
    padding-left: 5px;
    border: none;
    width: 30%;
    height: 28px;
    margin: 6px 0;
    border-radius: 0 10px 10px 0;
}

.currency-select{
    margin-top: 10px;
    height: 28px;
    border: none;
    border-radius: 0px 10px 10px 0px;
    color: var(--gray-block-color);
}

.categories-list li{
    width: max-content;
    transition: margin-left 2s reverse;
    font-size: 25px;
    margin-top: 10px;
    transition: transform .5s;
}

.categories-list li:hover{
    transform: scale(1.05);
    cursor: pointer;
}

.categories-list li:active{
    transform: scale(0.95);
}

.products-list{
    display: inline-block;
    font-size: 16px;   
}

.product-card{
    background-color: var(--gray-block-color);
    border: solid 1px white;
    color: white;
    width: 175px;
    margin: 4px 8px;
    padding: 10px;
}

.card-product-img{
    border: solid 1px white;
    width: 100%;
}

.manage-card-buttons{
    margin-top: 2px;
    display: flex;
    justify-content: space-between;
}

.card-img{
    height: 25px;
}

.card-img:hover{
    cursor: pointer;
}

.card-buttons{
    margin-top: 7.5px;
    display: flex;
    justify-content: space-between;
}

.pagination {
    display: flex;
    justify-content: space-evenly;
    margin-left: -20px;
    width: 300px;
}
  
.pagination a {
    background-color: white;
    padding: 6px 12px;
    border: black 1px solid;
    margin-left: 2px;
}
  
.pagination a.active {
    background-color: var(--gray-block-color);
    color: white;
}
  
.pagination a:hover:not(.active) {
    background-color: #ddd;
      cursor: pointer;
}

.products-panel{
    max-width: 70%;
}
