<router-outlet></router-outlet>
<div class="product-page-wrapper">
    <app-control-panel>
        <div class="filter-control">
            <a class="create-link" *ngIf="authService.checkRole('Manager') || authService.checkRole('Administrator')"
                [routerLink]="['/user/products/form']">
                <img src=" assets/img/create.png" alt="create">
            </a>
            <h2> Product catalog</h2>
            <input type="text" id="search-input" class="search-input" (input)="search()" placeholder="Search">
            <input type="number" id="minCost-input" class="cost-input" (input)="minCost()" placeholder="Min. cost">
            <input type="number" id="maxCost-input" class="cost-input" (input)="maxCost()" placeholder="Max. cost">
            <select class="currency-select" id="currency-select" (change)="changeCurrency()">
                <option selected value="USD">USD</option>
                <option value="EUR">EUR</option>
                <option value="RUB">RUB</option>
            </select>

            <ul class="categories-list">
                <li>
                    <a (click)="changeCategory('')"> <b> All categories </b></a>
                </li>
                <li *ngFor="let category of categories">
                    <a (click)="changeCategory(category.name)"> {{category.name}} </a>
                </li>
            </ul>
        </div>
        <app-pagination [MetaData]="metaData" [isActive]="isLoaded" (changePage)="onPageChange($event)">
        </app-pagination>
    </app-control-panel>
    <div class=" products-panel" *ngIf="isLoaded; else loading">
        <ul *ngFor="let product of products">
            <li class="product-card" title="{{product.description}}">
                <img class="product-card-img" src="{{product.imageUrl}}" alt="product image">
                <p>{{product.name}}</p>
                <p>{{product.provider}}</p>
                <p>
                    {{(product.cost).toFixed(2)}} {{this.productParams.currency}}
                </p>
                <div class="manage-card-buttons">
                    <img src="assets/img/basket.png" (click)="addProductToCart(product)" alt="to cart">
                    <img src="assets/img/edit.png" (click)="editItem(product)"
                        *ngIf="authService.checkRole('Manager') || authService.checkRole('Administrator')" alt="edit">
                    <img src="assets/img/delete.png" (click)="deleteItem(product)"
                        *ngIf="authService.checkRole('Manager') || authService.checkRole('Administrator')" alt="delete">
                </div>
            </li>
        </ul>
    </div>
</div>

<ng-template #loading>
    <div class="products-panel">
        <app-loading></app-loading>
    </div>
</ng-template>