.products-card{
    height: 10vh;
    width: 24vw;
    background-color: whitesmoke;
    border: 1px solid;
    margin: 2%;
    padding: 1%;
}

.currencySelect{
    background-color: linen;
    font-size: 20px;
    margin: 5px;
}