<div class="products-page">
    <div class="filtering-panel">
    <input type="text" class="search-input" (input)="search()" placeholder="Search">
        
    </div>
    <div class="products-panel">
        <div>
            <select class="currencySelect" id="currencySelect" (change)="ChangeCurrency()" >
                <option value="EUR">EUR</option>
                <option selected value="USD">USD</option>
                <option value="RUB">RUB</option>
            </select>
        </div>
        <ul class="list" *ngFor="let product of products">
            <li class="productTable"  >
                <div class="products-card"> 
                    <p>id: {{product?.Id}}</p>
                    <p>{{product?.Name}}</p>
                    <p>{{product?.Description}} </p>
                    <p>{{product?.Category}} </p>
                    <p>{{product?.Provider}} </p>
                    <p>{{(product?.Cost).toFixed(1)}} {{params.currency}} </p>
                </div> 
            </li>
        </ul>
    </div>
</div>
