<div *ngIf="isLoad; else loading">
    <table>
        <tr>
            <td class="td-header " (click)="orderBy('id')" title="Sort by Id">Id </td>
            <td class="td-header td-name" (click)="orderBy('name')" title="Sort by Name">Name</td>
            <td>Edit</td>
            <td>Delete</td>
        </tr>
        <tr *ngFor="let category of categories">
            <td>{{category.id}}</td>
            <td class="td-name">{{category.name}}</td>
            <td><img class="list-img" src="assets/img/edit.png" alt="edit" (click)="editItem(category)"></td>
            <td><img class="list-img" src="assets/img/delete.png" alt="delete" (click)="deleteItem(category)"></td>
        </tr>
    </table>

    <app-string-form *ngIf="editCategory" [inputValue]="editCategory.name" [placeholder]="'Category name'"
        (onSubmit)="submitEdit($event)">
    </app-string-form>
</div>

<ng-template #loading>
    <app-loading></app-loading>
</ng-template>