<form class="card" [formGroup]="form" (ngSubmit)="submit()">

    <img src="assets/img/logo.png" class="form-logo" alt="logo">

    <div class="alert alert-danger" *ngIf="authService.error$ | async as error"> {{error}} </div>
    <div class="alert alert-info" *ngIf="message"> {{message}} </div>

    <div class="form-control">
        <input class="form-input" id="username" type="text" formControlName="username" placeholder="Username">
        <div class="validation" *ngIf="form.get('username')?.invalid && form.get('username')?.touched">
            <small>Username is required</small>
        </div>
    </div>

    <div class="form-control">
        <input class="form-input" id="password" type="password" formControlName="password" placeholder="Password">
        <div class="validation" *ngIf="form.get('password')?.invalid && form.get('password')?.touched">
            <small *ngIf="form.get('password')?.errors?.required">Password is required.</small>
            <small *ngIf="form.get('password')?.errors?.minlength">minlength 6 characters</small>
        </div>
    </div>

    <p class="form-message"> No account? <a [routerLink]="['/signup']"> Create now! </a> </p>
    <button type="submit" class="form-btn" [disabled]="form.invalid || submitted">Sign in</button>

</form>