.manage-page{
    display: flex;
}

.filter-panel{
    position:fixed; 
    top: 10vh;
    padding: 20px;
    background-color: var(--light-gray-input-color);
    border-radius: 20px;
    width: 300px;
    min-height: 545px;
    box-shadow: 3px 3px 5px -3px #000000 inset;
}

.contentWrap{
    margin-left: 300px;
    min-height: 545px;
    width: 65vw;
}

input{
    color: black;
    padding-left: 5px;
    border: none;
    height: 28px;
    margin: 6px 0;
    border-radius: 10px;
}

.create-link{
    padding-top: 20px;
}

.create-link img{
    width: 28px;
    height: 28px;
}

.purpose-list li{
    width: max-content;
    transition: margin-left 2s reverse;
    font-size: 25px;
    margin-top: 10px;
    transition: transform .5s;
}

.purpose-list li:hover{
    transform: scale(1.05);
    cursor: pointer;
}

.purpose-list li:active{
    transform: scale(0.95);
}

:host ::ng-deep  table{
    height: 50px;
    margin-left: 20px;
    text-align: left;
}

:host::ng-deep  table td {
    padding: 0px 15px;
}

:host::ng-deep  tr{
    height: 47.5px;
    background-color: var(--gray-block-color);
    color: white;
}

:host::ng-deep  .list-img{
    margin-left: 9px;
    width: 35px;
}
:host::ng-deep  .list-img:hover{
    margin-top: 3px;
    cursor: pointer;
}

:host::ng-deep .td-name{
    align-content: "center";
    width: 50vw;
}

:host::ng-deep .td-header:hover{
    cursor: pointer;
}

:host::ng-deep  .edit-input{
    height: 25px;
    margin: 10px 0;
}

:host::ng-deep .edit-img{
    width: 25px;
}