<div class="manage-page">
    <div class="filter-panel">
        <h2> {{currentPurpose}} manage </h2>

        <input type="text" (input)="null" placeholder="Search" id="search-input">
        <ul class="purpose-list">
            <li>
                <a (click)="currentPurpose = 'Categories'"> Categories </a>
            </li>
            <li>
                <a (click)="currentPurpose = 'Providers'"> Providers </a>
            </li>
        </ul>

        <app-string-form *ngIf="createForm" [placeholder]="'Write name'">
        </app-string-form>
        <app-pagination (changePage)="sendQuery($event)"></app-pagination>
    </div>
    <div class="contentWrap" *ngIf="currentPurpose == 'Categories';else providers">
        <app-manage-categories-table (totalPages)="pag.MetaData.TotalPages = $event"></app-manage-categories-table>
    </div>
</div>

<ng-template #providers>
    <div class="contentWrap">
        <app-manage-provider-table (totalPages)="pag.MetaData.TotalPages = $event"></app-manage-provider-table>
    </div>

</ng-template>