<div class="manage-page">
    <div class="filter-panel">
        <h2> {{currentPurpose}} manage </h2>

        <input type="text" (input)="null" placeholder="Search" id="search-input">
        <ul class="purpose-list">
            <li routerLinkActive="active">
                <a [routerLink]="['/user/manage/categories']" (click)="currentPurpose = 'Categories'"> Categories </a>
            </li>
            <li routerLinkActive="active">
                <a [routerLink]="['/user/manage/providers']" (click)="currentPurpose = 'Providers'"> Providers </a>
            </li>
        </ul>
    </div>
    <router-outlet></router-outlet>
</div>