<form class="card" [formGroup]="form" (ngSubmit)="submit()">
    <img src="assets/img/logo.png" class="signup-logo" alt="logo">

    <div class="signup-name-input-div"  >
        <input class="signup-input signup-names-input" id="firstname" type="text" formControlName="firstname" placeholder="First Name">
        <div class="validation" *ngIf="form.get('firstname')?.invalid && form.get('firstname')?.touched">
            <small>Is required field</small>
        </div>

        <input class="signup-input signup-names-input" id="lastname" type="text" formControlName="lastname" placeholder="Last Name">
        <div class="validation" *ngIf="form.get('lastname')?.invalid && form.get('lastname')?.touched">
            <small>Is required field</small>
        </div>
    </div>

    <div class="form-control">
        <input class="signup-input" id="email" type="email" formControlName="email" placeholder="Email Address">
        <div class="validation" *ngIf="form.get('email')?.invalid && form.get('email')?.touched">
            <small *ngIf="form.get('email')?.errors?.required">Email Address is required.</small>
            <small *ngIf="form.get('email')?.errors?.email">Email Address invalid</small>
        </div>
    </div>

    <div class="form-control">
        <input class="signup-input" id="phoneNumber" type="text" formControlName="phoneNumber" placeholder="Phone Number">
        <div class="validation" *ngIf="form.get('phoneNumber')?.invalid && form.get('phoneNumber')?.touched">
            <small *ngIf="form.get('phoneNumber')?.errors?.phoneNumber">Phone Number invalid</small>
        </div>
    </div>
    
    <div class="form-control" >
        <input class="signup-input" id="username" type="text" formControlName="username" placeholder="User Name">
        <div class="validation" *ngIf="form.get('username')?.invalid && form.get('username')?.touched">
            <small>User Name is required</small>
        </div>
    </div>

    <div class="form-control" >
        <input class="signup-input" id="password" type="text" formControlName="password" placeholder="Password">
        <div class="validation" *ngIf="form.get('password')?.invalid && form.get('password')?.touched">
            <small>Password is required</small>
        </div>
    </div>


    <div class="form-control" >
        <input class="signup-input" id="repeatedPassword" type="text" formControlName="repeatedPassword" placeholder="Confirm Password">
        <div class="validation" *ngIf="form.get('repeatedPassword')?.invalid && form.get('repeatedPassword')?.touched">
            <small>Confirm Password is required</small>
        </div>
    </div>
    <p class="signup-message"> Has account? <a href="/login"> Sign in now! </a> </p>

    <button type="submit" class="signup-Btn" [disabled]="form.invalid || submitted">Sign Up</button>
    
</form>
