.card{
    box-shadow: insed 2px 0px 10px 0px black;
}


.signup-names-input{
    width: 48%;
}

.signup-name-input-div{
    display: flex;
    justify-content: space-between;
}

a{
    color:var(--light-brown-input-color);
}
