.header{
    padding: 2vh 4vw 3vh 4vw;
    display: flex;
    background-color: inherit;
    left: 0;
    top: 0;
    width: 100vh;
    font-size: 3vh;
}

.header-logo{
    align-content: left;
    color: white;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    margin-right: 52vw;
}

.header-list{
    justify-content: space-between;
    display: flex;
    list-style-type: none;
}

.header-list li{
    width: max-content;
    padding-left: 2vw;
}

a{
    color: white;
    text-decoration:wavy;
}

.account-img{
    width: 4vh;
    height: 4vh;
}