.header{
    padding: 2vh 4vw 3vh 4vw;
    display: flex;
    background-color: inherit;
    left: 0;
    top: 0;
    width: 100vh;
    font-size: 3vh;
}

.header-logo{
    height: 5vh;
    width: 15vw;
    color: white;
    margin-right: 30vw;
}

.header-list{
    margin-top: 2.5vh;
    justify-content: space-between;
    display: flex;
    list-style-type: none;
}

.header-list li{
    width: max-content;
    padding-left: 3vw;
}

a{
    color: white;
    text-decoration:wavy;
}

.header-img{
    margin-top: -1vh;
    width: 6vh;
    height: 6vh;
}