<header>
     <img src="assets/img/logo.png" class="header-logo" alt="logo">
     <ul *ngIf="authService.isAuthenticated();else signin">
          <li>
               <a [routerLink]="['']">Home </a>
          </li>
          <li>
               <a [routerLink]="['/user', 'products']"> Catalog </a>
          </li>
          <li *ngIf="authService.isAdministrator()">
               <a [routerLink]="['/user/manage']"> Manage </a>
          </li>
          <li>
               <a [routerLink]="['/user', 'account']"> <img src="assets\img\account.png" class="account-img"> </a>
          </li>
          <li>
               <a (click)="logout()"> Logout </a>
          </li>
     </ul>
     <ng-template #signin>
          <ul>
               <li>
                    <a [routerLink]="['']"> Home </a>
               </li>
               <li>
                    <a [routerLink]="['/login']"> Sign in </a>
               </li>
          </ul>
     </ng-template>
</header>