<div class="header">
     <h2 class="header-logo">Cheat Eat </h2>
     <ul class="header-list" >
          <li> <a href="/categories">Категории </a></li>
          <li> <a href="/products">Products </a> </li>
          <li> <a href="/providers">Поставщики </a></li>
          <li> <a href="/login"> <img src="assets\img\account-img.png" class="account-img"> </a> </li>
          <li *ngIf="authService.isAuthenticated();else signin"> <a href="" (click)="logout()" > Logout </a> </li>
     </ul>
</div>

<ng-template #signin>
          <li> <a href="" [routerLink]="['/login']"> Sign in </a> </li>
</ng-template>