:root{
    --back-ground-color: black;
    --gray-block-color: #292929;
    --light-gray-input-color: #C2A080;

}

.list{
    width: 25vw;
    font-size: 2vh;   
    align-items:center; 
    display: inline-block;
    list-style-type: none;
}

body{
    background: url(src\assets\img\home-page-bg.jpg) no-repeat;
    background-size: cover;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

form{
    padding: 2vh 1vw;
    margin-left: auto;
    margin-right: auto;
    width: 18vw;
    height: max-content;
    background: var(--gray-block-color);
    border-radius: 33px;
    color: white;
    font-size: 2.5vh;
}
