:root{
    --back-ground-color: black;
}

.list{
    font-size: 20px;   
    align-items:center; 
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    background-color: white;
}

img{
    width: 100%;
}

