:root{
    font-size: 20px;
    --gray-block-color: #001514;
    --light-brown-color: #C2A080;
    --light-gray-color: #C8BBB5;
}

body{
    margin:0 auto;
    width: 85%;
    -khtml-user-select: none; user-select: none;
    background: url('assets/img/home-bg.jpg') no-repeat fixed;
    background-color: black;
    background-size: cover;
}

@media only screen and (max-width: 1400px) {
    body{
            width: 90%;
    }
}

@media only screen and (max-width: 1200px) {
    body{
            width: 95%;
    }
}


* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

a{
    cursor:pointer;
    color: black;
    text-decoration:wavy;
}

li{
    list-style-type: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}

.load{
    font-size: 50px;
    color:white;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
    transition: background-color 5000s ease-in-out 0s;
}