<div class="home-page">
    <img src="assets/img/logo.png" class="header-logo" alt="logo">
    <p class="home-info">
        We are delicious. We are fast. We are only
        fresh products. Order only the most
        selected products from us, with a 30%
        discount on the first purchase!
    </p>
    <input *ngIf="accountService.isAuthenticated();else signin" class="home-btn" type="button" value="Catalog"
        [routerLink]="['/user', '/products']">
</div>

<ng-template #signin>
    <input class="home-btn" type="button" value="Sign In" [routerLink]="['/login']">
</ng-template>