

.info-block{
    margin: 30vh 0 0 50vw;
    width: 450px;
}

.info-block p{
    margin-top: 30px;
    font-size: 30px;
    color:white;
}

.info-block button{
    border: none;
    font-size: 20px;
    background:var(--light-brown-color);
    width: 30%;
    min-height: 40px;
    display: block;
    margin: 20px 80px;
    border-radius: 10px;
}

input:hover{
    cursor: pointer;
}

input:active{
    cursor: pointer;
    margin: 21px 81px;
}

@media only screen and (max-width: 900px) {
    .info-block{
        margin: auto;
    }

    .info-block p{
       font-size: 24px;
    }
 }