<div class="manage-page">
    <app-control-panel>
        <div class="filter-control">
            <h2> Providers manage </h2>
            <input type="text" (input)="search()" placeholder="Search" id="search-input">
            <ul class="purpose-list">
                <li>
                    <a [routerLink]="['/user/','categories']"> Categories </a>
                </li>
                <li>
                    <a> Providers </a>
                </li>
            </ul>
        </div>
        <app-string-form *ngIf="createForm" [placeholder]="'Write name'">
        </app-string-form>
        <app-pagination [MetaData]="metaData" [isActive]="isLoaded" (changePage)="onPageChange($event)">
        </app-pagination>
    </app-control-panel>
    <div class="contentWrap">
        <div *ngIf="isLoaded; else loading">
            <table>
                <tr>
                    <td class="td-header " (click)="orderBy('id')">Id </td>
                    <td class="td-header td-name" (click)="orderBy('name')">Name</td>
                    <td>Edit</td>
                    <td>Delete</td>
                </tr>
                <tr *ngFor="let provider of providers">
                    <td>{{provider.id}}</td>
                    <td class="td-name">{{provider.name}}</td>
                    <td><img class="list-img" src="assets/img/edit.png" alt="edit" (click)="editItem(provider)"></td>
                    <td><img class="list-img" src="assets/img/delete.png" alt="delete" (click)="deleteItem(provider)">
                    </td>
                </tr>
                <tr *ngIf="authService.checkRole('Administrator')">
                    <td class="add-cell" (click)="createForm = true">+</td>
                    <td class="td-name "></td>
                    <td></td>
                    <td></td>
                </tr>
            </table>
        </div>

    </div>
</div>

<ng-template #loading>
    <app-loading></app-loading>
</ng-template>

<app-string-form *ngIf="editForm" [inputValue]="editProvider.name" [placeholder]="'Provider name'"
    (onSubmit)="submitEdit($event)">
</app-string-form>

<app-string-form *ngIf="createForm" [placeholder]="'Provider name'" (onSubmit)="addItem($event)">
</app-string-form>