<div class="providers-page">
    <div class="filter-panel" >
        <h2>Categories manage</h2>
    
        <input class="search-input" type="text" (input)="search()" placeholder="Search" id="search-input" >
           
    </div>
    <table>
        <tr>
            <td>Id</td>
            <td class="td-name">Name</td>
            <td>Edit</td>
            <td>Delete</td>
        </tr>
        <tr *ngFor="let provider of providers">
            <td>{{provider.id}}</td>
            <td class="td-name">{{provider.name}}</td>
            <td><img class="list-img" src="assets/img/edit.png" alt=""></td>
            <td><img class="list-img" src="assets/img/delete.png" alt=""></td>
        </tr>
    </table>
    </div>